@import url(fonts.css);

:root {
  --card-bg: rgba(0, 0, 0, 0.42);
  --font: "Google Sans", sans-serif;
}

body {
  font-family: var(--font);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-image: url(cacti4-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  animation: abstract-bg-rotate 20s ease infinite, bg 40s ease-in-out infinite alternate;
}

.card {
  text-align: center;
  width: 450px;
  min-height: 500px;
  display: block;
  background: var(--card-bg);
  border-radius: 30px;
  backdrop-filter: blur(60px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.big-txt {
  font-size: 3rem;
  margin-bottom: -10px;
}

.grey {
  color: #888;
  font-size: 15px;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-image: url(cacti4-background.png);
  padding: 10px 40px;
  border-radius: 30px;
  margin: 4px;
  transition: padding 0.2s, background-color 0.3s ease-in-out;
}

.btn:hover {
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  font-size: 30px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}

@keyframes abstract-bg-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 200%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}
